@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial.ttf')  format('truetype');
}
@font-face {
    font-family: 'Arial Bold';
    src: url('../fonts/Arial-bold.ttf')  format('truetype');
}